<!-- Charset and Facebook Like link-->
	<meta content='text/html; charset=utf-8' http-equiv='content-type' />
	<meta content="{{ site.facebook_appid }}" property="fb:app_id" />
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
<!-- Custom Meta Content -->
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	{% if page.date %}
		<meta content='{{ site.url }}{{ page.url }}' property='og:url' />
		<meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" property='og:description' />
		<meta content="article" property="og:type" />
		{% else %}
		<meta content='{{ site.url }}' property='og:url' />
		<meta content="{{ site.description }}" property='og:description' />
		<meta content="blog" property="og:type" />
	{% endif %}
<!-- /Custom Meta Content -->
<!-- Viewport and device width -->
	<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
	<meta name="apple-mobile-web-app-capable" content="yes">
<!-- Windows 8 / RT -->
	<meta name="msapplication-TileImage" content="images/apple-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#000">
	<meta http-equiv="cleartype" content="on">
	<link href='{{ site.url }}/images/favicon.png' rel='shortcut icon'>
<!-- Main Stylesheet -->
	<link href='{{ site.url }}/stylesheets/style.css' rel='stylesheet' type='text/css' />
<!-- Syntax Highlight Stylesheet -->
	<link href='{{ site.url }}/stylesheets/github.css' rel='stylesheet' type='text/css' />
<!-- Main Theme Stylesheet -->
	<link href='{{ site.url }}/stylesheets/theme.css' rel='stylesheet' type='text/css' />

<!-- Josh Custom -->
<script src="{{site.url}}/js/pollLambdaAPI.js"></script>

<!-- font awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

<!-- Random line at top of screen. -->
<hr style="border: 1px solid black;top:0;width:100%;margin:0" />

<!-- Lodash -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>

<!-- Syntax Highlighting -->
<link href="{{site.url}}/stylesheets/syntax.css" rel="stylesheet">


	<!--[if lt IE 9]>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
	<![endif]-->
