<div class="container">
	<div class="row">
		<div class="col12">
			<header class="blog-title">
				<!-- <a href="/about"><img style="border-radius: 50%"; src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }}" width="230" height="230"></a> -->
				<h1>{{ site.title }}</h1>
				<ui>
					{% for link in site.social-links %}
				<span style="padding:0;margin:0">
					<a style="padding:0;margin:0"href="{{link.url}}" target="_blank">
							<i
									style="color:black;font-size:23px;"
									 onMouseOver="this.style.color='{{link.color}}'" class="fab {{ link.icon }}"></i>
					</a>
				</span>
					{% endfor %}
				</ui>
				<!-- Social Media -->

					<!-- Josh's Spotify Lambda function -->
				<p>
          <span id='spotify'>{{ site.description }}</span>
				</p>
				<a href="{{site.url}}/test-spotify"><h5>add a song to my queue!</h5></a>
			</header>
		</div>
	</div>
</div>
